/*--------- Description --------------*/
.description 
{
	background-color: #fff;
	padding: 2rem;
	@include min-up(768px) {
		padding: 150px 55px 155px;
	}	

	p {
		margin: 0 0 3.313rem;

		&.intro_paragraph
		{
			margin-bottom: 4.813rem;
			text-align: center;
			color: #C3Bfbf;
			font: 300 32px/1.8 $sans-serif;
		    max-width: 844px;
		    margin: 0 auto 77px;

			&:after
			{
				content: "";
				height: 30px;
				width: 100%;
				background: url(../../img/divider.png) no-repeat top center;
				display: block;
				margin-top: 4.813rem;
				margin-bottom: 7.938rem;
			}
		}
	}

	 
}