/*----------- Footer -----------*/
.site_footer
{
	position: relative;
	padding: 2rem;
	background-color: rgba(104, 19, 0, 0.5);

	@include min-up(768px) { 
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 33px 32px;
	}

	img
	{
		display: inline-block;
		vertical-align: middle;
		@include min-up(768px) { 
			margin: 0 0 0 40px;
		}
	}
	.address
	{
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 40px;
	}
	
	.address span
	{
		display: block;
	}
}