/*-------------- Meet the Instructor --------------*/
.instructor
{
	padding: 2rem;
	background: #cf563b url('../../img/instructor.jpg') no-repeat top right;
	background-size: cover;
	color: #fff;

	@include min-up(768px) { 
		padding: 20% 84px 10%;
	}

	.content
	{
		width: 70%;
		@include min-up(768px) { 
			width: 40%;
		}

		h2
		{
			text-align: left;
			color: #fff;
			font: 300 18px/2.2 $sans-serif;
			margin-bottom: 15px;
		}

		h3
		{
			color: #fff;
			font: 600 36px/1.2 $sans-serif;
		}

		h4
		{
			color: #fff;
			margin-bottom: 27px;
			font: 500 22px/1.1 $sans-serif;
		}
		p {
			font: 400 20px/1.4 $sans-serif;
		}
	}
}